/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1rem;
}


/* src/App.css */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/* css for about me */
#about {
  padding: 2rem;
  background-color: #f9f9f9;
}

#about .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

#about a {
  color: #007bff;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}
